<div class="container">
  <div class="text-center">
    <h1 class="fs-presentation">SMS - Mise en place</h1>

    <div class="error"><%= flash[:error] %></div>
    <div class="success"><%= flash[:success] %></div>
    <form action="/send" method="get" id="msform">
    <fieldset>
      <h2 class="fs-title">Envoyez un texto</h2>
      <input type="text" name="name" placeholder="Prénom" required="required">
      <input type="text" name="family" placeholder="Nom" required="required">
      <input type="text" name="phone" placeholder="N° portable" required="required">
      <select type="text" name="step" >
        <option value="1">SMS 1</option>
        <option value="2">SMS 2</option>
        <option value="3">SMS 3</option>
      </select>
      <select type="text" name="csm" >
        <option value= "Zaskia,0184888846">Zaskia</option>
        <option value="Amel,0184888843">Amel</option>
        <option value="Asma,0184888845">Asma</option>
        <option value="Alicia,0184888842">Alicia</option>
        <option value="Alexia,0184888841">Alexia</option>
        <option value="Louis,0184888840">Louis</option>
        <option value="Victoire,0184888844">Victoire</option>
      </select>
      <input type="submit" value = "Valider" class="next action-button">
    </fieldset>
    </form>

    <h1 class="fs-presentation">Liste des SMS à envoyer</h1>
  </div>
  <div class="fs-subtitle sms-padding text-center">
    <p>1 - Bonjour, j’ai tenté de vous joindre concernant votre formation. Pourriez-vous me rappeler au [votre numéro] ? Merci. [votre prénom] de Zenchef</p>
    <p>2 - Bonjour, j’ai tenté de vous joindre pour la mise en place de votre service. Pouvez-vous me rappeler au [votre numéro] ? Merci. [votre prénom] de Zenchef</p>
    <p>3 - Bonjour, je suis votre nouveau contact chez Zenchef. Vous pouvez me contacter pour faire le point sur votre service au [votre numéro]. [votre prénom]</p>
  </div>
</div>
